body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  background-image: url(../img/ciel-etoile.jpg);
}

img {
  display: block;
  max-width: 100%;
}

div {
  background: #80AA4E;
  border-radius: 10px;
  padding: 7px;
  padding: 20px;
}

.quote {
  color: #fff;
}

.end {
  border-color: aqua;
  border-color: azure;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
} 

a {
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: #000;
}