body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  background-image: url(../img/ciel-etoile.jpg);
}

img {
  display: block;
  max-width: 100%;
}

div {
  background: #80AA4E;
  border-radius: 10px;
  padding: 7px;
  padding: 20px;
}

.quote {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.end {
  border-color: aqua;
  border-color: azure;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
} 

a {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #000;
  text-align: center;
  padding: 7px;
  color: #000;
  display: flex;
  justify-content: center;
  margin: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

a:hover {
  color: #fff;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

em {
 display: flex;
 justify-content: end;
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
 font-size: 15px;
 margin: 5px;
}

.alien {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.interior {
  margin-bottom: 40px;
}
